<a href="https://colab.research.google.com/github/apicem7217/Clase4/blob/Phyton/Ch06_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tupla

- Nos pueden servir para almacer valores
- Se crear utilizando parentesis
- Al igual que los str son objetos inmutables
- Puede contener diferentes tipos de datos (heterogeneos)

In [ ]:
mi_primer_tupla = ("MÃ©xico", "CDMX")

In [ ]:
type(mi_primer_tupla)

tuple

In [ ]:
mi_segunda_tupla = ("Cuau", 32)

In [ ]:
mi_segunda_tupla

('Cuau', 32)

In [ ]:
def area_perimetr(base, altura):
  # calculos
  return (perimetro, area)

In [ ]:
(16, 28)

(16, 28)

In [ ]:
resultados = (16, 28)

In [ ]:
resultados

(16, 28)

In [ ]:
perimetro, area = resultados

In [ ]:
perimetro

16

In [ ]:
area

28

In [ ]:
resultados[2]

IndexError: ignored

In [ ]:
mi_segunda_tupla = ("Cuau", 32)

In [ ]:
"Cuau" in mi_segunda_tupla

True

In [ ]:
"Jess" in mi_segunda_tupla

False

In [ ]:
mi_tercer_tupla = (1, 2, 3, 5, 10)

In [ ]:
mi_tercer_tupla[0] = 4

TypeError: ignored

In [ ]:
len(mi_tercer_tupla)

5

In [ ]:
len("hola mundo")

10